@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.content-inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  padding: 100px 0;
}
.container .section {
  padding-bottom: 70px;
}
.container .titleBox {
  text-align: center;
  padding: 50px 0;
}
.container .titleBox h2 {
  font-size: 2.5rem;
}
.container .titleBox p {
  font-size: 1.25rem;
}

.goods-list .swiper-slide a .img-box {
  border: 1px solid #ddd;
  padding: 40px;
}
.goods-list .swiper-slide a .img-box img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.goods-list .swiper-slide a .text-box {
  min-height: 100px;
}
.goods-list .swiper-slide a .text-box h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 10px 0 20PX;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods-list .swiper-slide a .text-box > div {
  display: flex;
  gap: 10px;
}
.goods-list .swiper-slide a .text-box > div span {
  color: #c22014;
  display: block;
  font-weight: 600;
}

.goods-list-big-wrap {
  display: flex;
}
.goods-list-big-wrap .swiper-wrapper a .img-box {
  padding: 10px 40px;
}
.goods-list-big-wrap .swiper-wrapper a .text-box > div span {
  display: none;
}

.big-img {
  width: 45%;
  margin-right: 24px;
}

.big-right {
  width: 55%;
}

footer {
  font-size: 0.9rem;
  background: #141414;
  color: #ddd;
  padding: 20px 0;
}

.header {
  position: fixed;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  z-index: 1000;
}
.header .content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content-inner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header .content-inner > div .logo {
  width: 100px;
  margin-right: 50px;
}
.header .content-inner > div.header-left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header .content-inner > div.header-left ul li a {
  font-weight: 600;
  font-size: 1.13rem;
}
.header .content-inner > div.header-left ul li a:hover {
  color: #e60023;
}
.header .content-inner > div.header-right {
  font-size: 14px;
}
.header .content-inner > div.header-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  line-height: 1.2;
}
.header .content-inner > div.header-right ul li {
  cursor: pointer;
  text-align: center;
  position: relative;
}
.header .content-inner > div.header-right ul li img {
  height: 24px;
}
.header .content-inner > div.header-right ul li p {
  font-size: 0.8rem;
}
.header .content-inner > div.header-right ul li p .cart-num {
  position: absolute;
  right: 6px;
  top: 0;
  font-size: 9px;
  background: #ff0000;
  color: white;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 50%;
  text-align: center;
}
.header .content-inner > div .search-bar {
  position: relative;
}
.header .content-inner > div .search-bar input {
  line-height: 40px;
  padding: 0 10px;
}
.header .content-inner > div .search-bar .search-icon {
  width: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=header.css.map */