.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.item-list {
  border: 1px solid #ccc;
  padding: 30px;

}

.background {
  .pink {
    background: pink
  }

  .skyblue {
    background: skyblue;
  }
}

.card-list {
  display: flex;
  text-align: center;

  li {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
  }
}

.bubble {
  background: pink;
}

.dark {
  background: black;
  color: white;
  border: 1px solid black;
}

.light {
  background: white;
  color: black;
  border: 1px solid #ccc;
}