.form{
    max-width: 500px;
    margin: 0 auto;
    border-top: 3px solid black;
    border-bottom: 1px solid #ccc;
    padding: 30px;
    p{
        margin-bottom: 10px;
        input{
            display: block;
            width:100%;
            line-height: 40px;
            text-indent: 10px;
        }
        button{
            width: 100%;
            line-height: 40px;
        }
    }
}