.grid1{grid-area:header}
.grid2{grid-area:main}
.grid3{grid-area:side}
.grid4{grid-area: footer}

.grid-wrap{
    background-color: antiquewhite;
    display: grid;
    grid-template-rows:repeat(4,100px);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "header header header"
    "main . ."
    "main . side"
    "footer footer footer";
    >div{
        border:1px solid black;
        background: salmon;
        padding:20px;
    }
}