.big-title-box {
    font-size: 4rem;
    line-height: 1;
    span {
        display: block;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b80db+0,9836c9+100 */
        background: linear-gradient(to right, #3b80db 0%, #9836c9 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}