#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
.main {
  min-height: 100vh;
}
.footer {
  text-align: center;
  background-color: #ccc;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  padding: 1em;
  /* position: fixed;
    left: 0;
    bottom: 0; */
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.postImage {
  width: 90%;
  border-radius: 1em;
}
