/* 선택자{
    속성:값;
} */
* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #ddd;
}

.content-center {
    background: pink;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.goods-list-wrap {
    width: 33.33333%;
    background: skyblue;
}

.goods-list-wrap>div {
    width: 50%;
    height: 15rem;
    border-radius: 4rem;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.goods-list-wrap>.cmi {
    background: #6341cf;
}

.goods-list-wrap>div.irp {
    background: #436793;
}

.goods-list-wrap>div a {
    display: block;
    height: 100%;
    color: white;
    font-size: 1.25em;
    text-transform:uppercase;
}
.goods-list-wrap>div a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-underline-offset:5px;
}

.goods-list-wrap>div strong {
    display: block;
}

.goods-list-wrap>div span {}

.goods-list-wrap>div .icon {
    display: block;
    width:22px;
    height:22px;
    background:url(../images/icon_line_w.svg) -48px -24px;
}